@charset "utf-8";
/* CSS Document */
/*清除浏览器的默认样式*/
img{padding:0; margin:0; border:0; outline:none;}  
.box{width:360px; height:198px; border:1px solid #EEE; margin:0 auto; background:url(images/bg.png) no-repeat;}
img{position:relative;}

